@import "@visuallyjs/browser-ui/css/visuallyjs.css";
@import "@visuallyjs/browser-ui-angular/css/visuallyjs-angular.css";
@import "./fault-tree-analysis.css";
body {
  width:100vw;
  height:100vh;
  font-family: sans-serif;
}

vjs-diagram {
  flex-grow:1;
}
